.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 226px;
  height: 100%;
  left: 0;
  background-color: #FFFFFF;
  z-index: 1;
  position: absolute;
  // transform: translateX(-92%);
  // transition: transform 0.3s ease-out;
  // &:hover {
  //   transform: translateX(0%);
  // }
}

.logo {
  margin: 0 auto;
  margin-top: 30px;
}

.buttons {
}

.logout {
  margin-top: auto;
}
